/* Background and universal font */
html, body {
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}

/* Centering of all elements on page */
.container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

/* Initial page logo title */
.mainTitle {
  font-size: 100px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: #ffffff;
}
/* Main page info positioning */
.mainPage{
  margin: auto;
  margin-top: 200px;
}
.logo {
  width: 400px;
  text-align: center;
  margin: auto;
}

/* Card that wraps all info on each page */
.card {
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 25px;
  padding-top: 1px;
  width: 900px;
  height: 100%;
  margin: auto;
  margin-bottom: 50px;
}
/* Trip page tabs */
.tripHeader {
  margin-top: 120px;
  margin-bottom: 30px;
  background-color: rgb(235, 235, 235);
  height: 60px;
  width: 880px;
  text-align: center;
  color: rgb(50, 50, 50);
  padding: 10px;
  font-size: 60px;
  border-radius: 25px;
  font-weight: bolder;
}

/* Top navbar styling fixed on each page */
.navbar {
  width: 900px;
  height: 90px;
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
    background-color: #1cac93;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}
.navTitle {
  font-size: 50px;
  position: relative;
  top: -20px;
  margin: auto;
  color: white;
}
.backBtn {
  font-size: 70px;
  background-color: rgb(50, 50, 50);
  height: 50px;
  width: 50px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-right: 220px;
  margin-top: 10px;
}
.refreshBtn {
  font-size: 70px;
  background-color: rgb(50, 50, 50);
  height: 50px;
  width: 50px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 220px;
  margin-top: 10px;
}
.backBtn:hover, .refreshBtn:hover {
  transform: scale(1.05)
}
.inlineBox {
  display: inline-block;
}

/* Big Nav buttons */
.userBtn{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  background: #1cac93;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  text-align: center;
}
.userBtn:hover {
  transform: scale(1.05)
}
.userBtnTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: white;
}
.userIcons {
  width: 150px;
  margin-top: 15px;
}

/* Input box customization */
.formBox {
  width: 380px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formBox input {
  height: 60px;
  border-radius: 20px;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(50, 50, 50, 0);
  color: rgb(50, 50, 50);
  text-align: center;
  border: 8px solid;
  border-color: #1cac93;
}
::placeholder {
  color: rgb(150, 150, 150);
}

/* Sign in/out button styling */
.signBtn, .searchBtn {
  border-radius: 15px;
  height: 70px;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ea8948;
  color: rgb(50, 50, 50);
  border: none;
}
.deleteBtn {
  border-radius: 15px;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ea8948;
  color: rgb(50, 50, 50);
  border: none;
}
.searchBtn:hover, .signBtn:hover, .deleteBtn:hover {
  transform: scale(1.05)
}

/* Main trips page buttons that take you to a trip */
.tripBtn {
  margin-top: 50px;
  border-radius: 15px;
  background-color: #ea8948;
  height: 60px;
  width: 800px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 60px;
}
.categoryBtn {
  margin-top: 50px;
  border-radius: 15px;
  background-color: rgb(114, 114, 114);
  height: 30px;
  width: 600px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 30px;
}
.tripBtn:hover, .categoryBtn:hover {
  transform: scale(1.05)
}

/* Current trip title and city */
.tripMainTab {
  display: block;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  background-color: #1cac93;
  height: 60px;
  width: 800px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 60px;
}
.tripInfoTab {
  display: block;
  margin-top: 10px;
  margin-left: 80px;
  border-radius: 15px;
  background-color: #ea8948;
  height: 35px;
  width: 700px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 35px;
}

/* Displaying searched friends results */
.displayFriends {
  font-size: 30px;
  margin: auto;
  margin-top: 40px;
  display: block;
}

/* Removing outline affect on buttons */
button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}
/* Removing font changes for links */
a, a:link, a:visited, a:hover, a:active 
{
  text-decoration: none;
  color: rgb(50, 50, 50);
  display: inline-block;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset !important;
}