/* Background and universal font */
html, body {
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}
.container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.background {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  height: 90vh;
  width: 95vw;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}


/* Card that wraps all info on each page */
.card {
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 25px;
  padding-top: 10px;
  width: 600px;
  height: 650px;
  padding-bottom: 40px;
  margin-bottom: 170px;
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
  overflow: scroll;
  overflow-x: hidden;
}
.flex {
  display:flex;
  flex-direction:row;
}


/* Top navbar styling fixed on each page */
.navbar {
  width: 700px;
  height: 90px;
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #1cac93;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  z-index: 5;
}
.navTitle {
  font-size: 50px;
  position: relative;
  top: -20px;
  margin: auto;
  color: white;
}
.backBtn {
  font-size: 70px;
  background-color: rgb(50, 50, 50);
  height: 50px;
  width: 50px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-right: 120px;
  margin-top: 10px;
}
.refreshBtn {
  font-size: 70px;
  background-color: rgb(50, 50, 50);
  height: 50px;
  width: 50px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 120px;
  margin-top: 10px;
}
.backBtn:hover, .refreshBtn:hover {
  transform: scale(1.05)
}
.inlineBox {
  display: inline-block;
}

/* Fixed small user dash navbar */
.userDash {
  width: 700px;
  height: 130px;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #1cac93;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
  z-index: 5;
}
.userDashBtn {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: rgb(50, 50, 50);
  height: 100px;
  width: 100px;
  border-radius: 25px;
  text-align: center;
}
.userDashIcons {
  width: 70px;
  margin-top: 13px;
}
.userDashBtn:hover {
  transform: scale(1.05)
}


/* Initial page logo title */
.mainTitle {
  font-size: 100px;
  text-align: center;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  color: #ffffff;
}
.mainPage{
  margin: auto;
  margin-top: 100px;
}
.logo {
  width: 400px;
  text-align: center;
  margin: auto;
  position: fixed;
  z-index: -1;
  top: 60px;
  left: 0;
  right: 0;
  opacity: 10%;
}


/* Dashboard page buttons */
.userBtn{
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
  background: #1cac93;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  text-align: center;
}
.userBtn:hover {
  transform: scale(1.05)
}
.userBtnTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: white;
}
.userIcons {
  width: 160px;
  margin-top: 20px;
}


/* All form and input customization */
.formBox {
  width: 450px;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formBox input {
  height: 100%;
  width: 400px;
  border-radius: 20px;
  font-size: 25px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  text-align: center;
  border: 6px solid;
  border-color: #1cac93;
  padding: 10px;
}
::placeholder {
  color: rgb(150, 150, 150);
}
form {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Sign in/out and search button styling */
.signBtn, .searchBtn {
  border-radius: 15px;
  padding: 15px;
  height: 100%;
  width: 432px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ea8948;
  color: rgb(255, 255, 255);
  border: none;
}
.deleteBtn {
  display: inline-block;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(50, 50, 50);
  border: none;
}
.deleteIcon {
  width: 25px;
  padding-top: 5px;
  margin: auto;
}
.searchBtn:hover, .signBtn:hover, .deleteBtn:hover {
  transform: scale(1.05)
}


/* Trips page buttons*/
.tripBtn {
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #ea8948;
  height: 100%;
  width: 400px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 30px;
}
.categoryBtn {
  display: inline-block;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgb(110, 110, 110);
  height: 100%;
  width: 400px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 22px;
}
.tripBtn:hover, .categoryBtn:hover {
  transform: scale(1.05)
}


/* Current Trip title and city */
.tripMainTab {
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #ea8948;
  height: 100%;
  width: 500px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 30px;
}
.tripInfoTab {
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  height: 100%;
  width: 500px;
  text-align: center;
  color: rgb(50, 50, 50);
  padding: 10px;
  font-size: 22px;
}

.activitiesMainTab {
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  background-color: rgb(110, 110, 110);
  height: 100%;
  width: 500px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 30px;
}
.activitiesInfoTab {
  display: inline-block;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 400px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 22px;
}


/* Displaying searched friends results */
.displayFriends {
  font-size: 30px;
  margin: auto;
  margin-top: 40px;
}
.displaySearched {
  display: inline-block;
  margin-top: 50px;
  border-radius: 15px;
  background-color: rgb(110, 110, 110);
  height: 30px;
  width: 400px;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 25px;
}
.displayInfo {
  font-size: 25px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ea8948;
}
.cardTitle {
  font-size: 40px;
  margin: auto;
  margin-top: 40px;
}
.activityInfo {
  font-size: 25px;
  margin: auto;
  margin-top: 15px;
  color: #ea8948;
}
.activityDetails {
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  color: rgb(50, 50, 50);
}


/* Removing outline affect on buttons */
button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}
/* Removing font changes for links */
a, a:link, a:visited, a:hover, a:active 
{
  text-decoration: none;
  color: rgb(50, 50, 50);
  display: inline-block;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/* Input background box and blue autofill hide */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset !important;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  left: 0;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  height: 30px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}