/* Background and universal font */
html, body {
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
}

/* Centering of all elements on page */
.container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

/* Big Nav buttons */
.userBtn{
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: linear-gradient(180deg, #60df66 0%,#3b8618 100%);
  height: 200px;
  width: 200px;
  border-radius: 25px;
  text-align: center;
}
.userBtn:hover {
  transform: scale(1.05)
}
.userBtnTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}


/* Main page info positioning */
.mainPage{
  margin-top: 230px;
}
.logo {
  width: 500px;
  margin-bottom: 10px;
}

/* Input box customization */
.formBox {
  height: 50px;
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formBox input {
  border-radius: 10px;
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
.searchBtn {
  border-radius: 5px;
  height: 40px;
  width: 150px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.backBtn {
  font-size: 70px;
  position: fixed;
  left: 200px;
  top: 0;
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: linear-gradient(180deg, #60df66 0%,#3b8618 100%);
  height: 100px;
  width: 100px;
  border-radius: 25px;
  text-align: center;
}
.refreshBtn {
  font-size: 70px;
  position: fixed;
  right: 200px;
  top: 0;
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: linear-gradient(180deg, #60df66 0%,#3b8618 100%);
  height: 100px;
  width: 100px;
  border-radius: 25px;
  text-align: center;
}

/* displaying searched friends results */
.displayFriends {
  font-size: 30px;
}

/* Removing outline affect on buttons */
button:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}
/* Removing font changes for links */
a, a:link, a:visited, a:hover, a:active 
{
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-top: 10px;
  display: inline-block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}